name: test

on: [push]

permissions: read-all

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: code
        uses: actions/checkout@v4

      - name: go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.26

      - name: test
        run: go test -coverprofile=coverage.out -covermode=atomic -cover ./...
